@page "/fetchdata"
@using Dapr.Client
@using BlazorApp.Data
@inject DaprClient daprClient

    <h1>Service Call via Dapr</h1>

@{
    if (daprClient != null)
    {
        <h3>Dapr is ready!</h3>
        <br/>
        <button @onclick="CallService">Send</button>
    }
    else
    {
        <h1>Dapr is not ready!</h1>
    }
}

@if (forecasts == null)
{
    <br/><br/>

    <p>
        <em>Nothing to show. Yet!</em>
    </p>
}
else
{
    <br/><br/>

    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code 
{
    private IEnumerable<WeatherForecast> forecasts;

    private async Task CallService()
    {
        forecasts = await daprClient.InvokeMethodAsync<IEnumerable<WeatherForecast>>(HttpMethod.Get, "service-one", "serviceone");
    }
}