version: '3.4'

services:

  ############################
  # Service + Dapr sidecar
  ############################
  daprbackend:
    image: ${DOCKER_REGISTRY-}daprbackend
    build:
      context: .
      dockerfile: DaprBackEnd/Dockerfile
    depends_on:
      - redis
      - placement
    networks:
      - dapr-network

  daprbackend-dapr:
    image: "daprio/daprd:latest"
    command: ["./daprd",
     "-app-id", "daprbackend",
     "-app-port", "80",
     "-placement-host-address", "placement:50006",
     "-components-path", "/components"]
    volumes:
      - "./dapr/components/:/components"
    depends_on:
      - daprbackend
    network_mode: "service:daprbackend"

  ############################
  # Blazor + Dapr sidecar
  ############################
  blazorserverapp:
    image: ${DOCKER_REGISTRY-}blazorserverapp
    build:
      context: .
      dockerfile: BlazorServerApp/Dockerfile
    depends_on:
      - redis
      - placement
    networks:
      - dapr-network

  blazorserverapp-dapr:
    image: "daprio/daprd:latest"
    command: ["./daprd",
    "-app-id", "blazorserverapp",
    "-placement-host-address", "placement:50006",
     "-components-path", "/components"]
    volumes:
      - "./dapr/components/:/components"
    depends_on:
      - blazorserverapp
    network_mode: "service:blazorserverapp"

  ############################
  # Dapr placement service
  ############################
  placement:
    image: "daprio/dapr"
    command: ["./placement", "-port", "50006"]
    ports:
      - "50006:50006"
    networks:
      - dapr-network

  ############################
  # Redis state store
  ############################
  redis:
    image: "redis:alpine"
    ports:
      - "6380:6379"
    networks:
      - dapr-network

networks:
    dapr-network: