version: '3.4'

services:

  ############################
  # Service + Dapr sidecar
  ############################
  daprbackend:
    image: ${DOCKER_REGISTRY-}daprbackend
    build:
      context: .
      dockerfile: DaprBackEnd/Dockerfile
    depends_on:
      - redis
      - rabbitmq
    networks:
      - dapr-network

  daprbackend-dapr:
    image: "daprio/daprd:latest"
    container_name: DaprBackendSideCar
    command: ["./daprd",
     "-app-id", "daprbackend",
     "-app-port", "80",
     "-config", "/config/config.yaml",
     "-components-path", "/components"]
    volumes:
      - "./dapr:/config"
      - "./dapr/components/:/components"
    depends_on:
      - daprbackend
    network_mode: "service:daprbackend"

  ############################
  # Blazor + Dapr sidecar
  ############################
  blazorserverapp:
    image: ${DOCKER_REGISTRY-}blazorserverapp
    build:
      context: .
      dockerfile: BlazorServerApp/Dockerfile
    depends_on:
      - redis
      - rabbitmq
    networks:
      - dapr-network

  blazorserverapp-dapr:
    image: "daprio/daprd:latest"
    container_name: BlazorServerAppSideCar
    command: ["./daprd",
     "-app-id", "blazorserverapp",
     "-config", "/config/config.yaml",
     "-components-path", "/components"]
    volumes:
      - "./dapr:/config"
      - "./dapr/components/:/components"
    depends_on:
      - blazorserverapp
    network_mode: "service:blazorserverapp"

  #dashboard:
  # image: "daprio/dashboard:latest"
  # container_name: DaprDashboard
  # ports:
  #  - "8080:8080"
  # networks:
  #  - dapr-network

  zipkin:
    image: "openzipkin/zipkin-slim"
    container_name: Zipkin
    ports:
      - "9411:9411"
    networks:
      - dapr-network 

  ############################
  # Redis state store
  ############################
  redis:
    image: "redis:alpine"
    container_name: RedisStateStore
    ports:
      - "6380:6379"
    networks:
      - dapr-network

  ############################
  # Rabbitmq pub sub
  ############################
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: RabbitmqPubSub
    ports:
      - "5672:5672"
    networks:
      - dapr-network

networks:
    dapr-network: