@page "/counterstate"
@using Dapr.Client
@inject DaprClient daprClient

<h1>Counter With Dapr State</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementAndSaveCount">Click me</button>

@code 
{

    const string storeName = "statestore";
    const string key = "counter";
    private int currentCount = 0;

    private async Task IncrementAndSaveCount()
    {
        currentCount++;

        await daprClient.SaveStateAsync(storeName, key, currentCount);
    }

    protected override async Task OnInitializedAsync()
    {
        currentCount = await daprClient.GetStateAsync<int>(storeName, key);
    }

}
